<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.id, user_project_path(@user.id,project.id) %></td>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%=l project.created_at %></td>
        <td>
           <%= link_to "Discussions",user_project_discussions_path(@user.id,project.id), :class => 'btn btn-default'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_user_project_path(@user.id),
            :class => 'btn btn-primary' %>
             <%= link_to "Back to users",users_path, :class => 'btn btn-default'%>
